/* MAIN HOME CONTAINER */
.home {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* HERO IMAGE SECTION */
.hero-image {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* keeps image perfectly fitted */
  display: block;
}

/* CONTENT BELOW IMAGE */
.home-content {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
}

.home-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}

.home-content p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 35px;
}

/* EXPLORE BUTTON */
.explore-btn {
  background-color: lch(59.3% 28.23 217.39);;;
  color: #ffffff;
  padding: 14px 36px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background-color: hsl(198, 59%, 34%);
  transform: translateY(-2px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-image {
    height: 50vh;
  }

  .home-content h1 {
    font-size: 2.2rem;
  }

  .home-content p {
    font-size: 1rem;
  }
}


