/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT CONTAINER */
#root {
  width: 100%;
  min-height: 100vh;
}

/* REMOVE VITE DEMO STYLES */
.logo,
.card,
.read-the-docs {
  display: none;
}
