/* =========================
   GLOBAL LAYOUT
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
}

/* =========================
   NAVBAR
========================= */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: hwb(188 4% 66%);
  margin-bottom: 0;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  color: #f9f5f5;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* =========================
   FOOTER
========================= */
.footer {
  background-color: hwb(188 4% 66%);
  color: white;
  text-align: center;
  padding: 15px;
}

/* =========================
   CONTACT PAGE
========================= */
.contact-page {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 20px;
}

.page-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

.page-subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 40px;
  font-size: 16px;
}

.contact-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* LEFT INFO */
.contact-info {
  flex: 1;
  background:lab(90.22% -3.09 -2.74);
  padding: 25px;
  border-radius: 10px;
}

.contact-info h2 {
  margin-bottom: 15px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 15px;
}

/* RIGHT FORM */
.contact-card {
  flex: 1;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.contact-card h2 {
  margin-bottom: 20px;
}

/* FORM */
.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #e3a600;
  box-shadow: 0 0 0 2px rgba(227, 166, 0, 0.2);
}

/* BUTTON */
.btn-primary {
  width: 100%;
  padding: 12px;
  background-color:hwb(189 44% 22%);;
  color: #000;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #438091;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }
}


